<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>

  <!-- create functionality in here for if the user is logged in to see the interactice pantheon home page -->
</main>

<%- include('./partials/footer') %>
