<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="welcome">

  <!-- create functionality in here for first time or logged out users, if they dont exist -->
  <% if (!user) { %>

    <h2>Welcome to Gnome Home!</h2>
    <!-- add a fancy image here -->
    <img src="https://arcaneeye.com/wp-content/uploads/2021/04/wisnu-tan-rage-bellower-uplox.jpg.webp" class="cardAnimate">

    <p class="siteDesc">Gnome home is a place for us fairy tale loving historians. Here you will find and submit mythologies throughout history from different pantheons and cultures. Fill your curiosity by reviewing different folk tales and add your own. Submit your interest's in the folk tale and rate them. <br>Engjoy!</p>      

  <% } %>
  

  <!-- create functionality in here for if the user is logged in to see the interactice pantheon home page -->
  <% if (user) { %>
    
    
    <!-- avatar -->
    <% if (user?.profile.avatar) { %>
      <div>
        <img 
          src="<%= user.profile.avatar %>" 
          alt="<%= user.profile.name %> avatar"
        >
      </div>
    <% } %>   

    <h1><%= user.profile.name %></h1>

    <a href="/myths/new">Create a Myth</a>
    
    <div class="loggedIntro">
      <p><span>Pantheon Tales</span><br>
      See the folk tales from the particular set of all polytheistic mythologies. 
      </p>      

      <div class="pantheon">
        <!-- use for each loop dynamically  -->
        <a href="/myths" class="link">Greek</a>
        <img src="https://www.ancient-origins.net/sites/default/files/field/image/Prometheus-giving-man-fire-Greek-mythology.jpg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde error reprehenderit recusandae harum voluptate, facilis libero obcaecati blanditiis, ipsum aliquam nesciunt consequuntur placeat laborum! Similique provident obcaecati hic voluptate? Fuga.</p>
      </div>

      <div class="pantheon">
        <a href="" class="link">Greek</a>
        <img src="https://www.ancient-origins.net/sites/default/files/field/image/Prometheus-giving-man-fire-Greek-mythology.jpg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde error reprehenderit recusandae harum voluptate, facilis libero obcaecati blanditiis, ipsum aliquam nesciunt consequuntur placeat laborum! Similique provident obcaecati hic voluptate? Fuga.</p>
      </div>

    </div>


  <% } %>

</main>

<%- include('./partials/footer') %>
