<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="welcome">
  
  <!-- create functionality in here for first time or logged out users, if they dont exist -->
  <% if (!user) { %>

    <h2>Welcome to Gnome Home!</h2>
    <!-- add a fancy image here -->
    <img src="https://arcaneeye.com/wp-content/uploads/2021/04/wisnu-tan-rage-bellower-uplox.jpg.webp" class="cardAnimate">

    <p class="siteDesc">Gnome home is a place for us fairy tale loving historians. Here you will find and submit mythologies throughout history from different pantheons and cultures. Fill your curiosity by reviewing different folk tales and add your own. Submit your interest's in the folk tale and rate them!<br>Enjoy!</p>      

  <% } %>
  
  <!-- create functionality in here for if the user is logged in to see the interactice pantheon home page -->
  <% if (user) { %>
    
    <div class="loggedIntro">
      <p><span>Pantheon Tales</span><br>
      See the folk tales from the particular set of all polytheistic mythologies. 
      </p>  

      <% if (user?.profile._id == "616f1fd1e6f18ac8f8506367") { %>
        <a href="/myths/new" class="uiTakeStyle link">Create a Myth here</a>  
      <% } %>
      
      <a href="/myths" class="uiTakeStyle link">View All Here</a>

        <% pantheons.forEach(function(pantheon){ %>
        <div class="pantheon">
          
          <a href="/myths/<%= pantheon.pantheon.toLowerCase() %> " class="link"><%= pantheon.pantheon %></a>
          <img src="<%= pantheon.img %> ">
          <p><%= pantheon.desc %> </p>
        </div>

        <% }) %> 
        
    </div>
  <% } %>

</main>

<%- include('./partials/footer') %>
