<%- include('./../partials/html-head') %>
<%- include('./../partials/nav') %>

<main class="welcome">

    <h1><%= title %> </h1>

    <% myths.forEach(myth => { %>
        <h4><%= myth.name %> </h4>
        <img src="<%= myth.img %> " width="500px">
        <p><%= myth.bio %></p>
        <br>
    <% }) %>

</main>

<%- include('./../partials/footer') %>
