<%- include('./../partials/html-head') %>
<%- include('./../partials/nav') %>

<main class="category">

    <h1><%= title %> </h1>

    <section class="cardContainer">
    <% myths.forEach(myth => { %>
        <div class="mythCard1">
            <a href="/myths/<%= myth._id %> "><%= myth.name %></a>
            <img src="<%= myth.img %>">
            <br>            
        </div>

    <% }) %>
    </section>

</main>

<%- include('./../partials/footer') %>
