<%- include('./../partials/html-head') %>
<%- include('./../partials/nav') %>

<main class="infoContainer">

    <h1><%= title %> </h1>

    <div class="mythContainer">
        <h1><%= myth.name %> </h1>
        <img src="<%= myth.img %>">
        <p><%= myth.bio %></p>        
    </div>

    <div>
        <!-- review form -->
    </div>

</main>

<%- include('./../partials/footer') %>
